.collapse {
    width: 100%;
}

.collapse-header {
    width: 100%;
    background-color: var(--color-primary);
    height:52px;
    border-radius: 5px;
    padding : 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        height: 30px;
}
}

.collapse-title {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin:0;
    padding:0;
    vertical-align: middle;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.collapse-arrow {
    width: 24px;
    height: 14px;
    transition: transform 0.3s ease;
    @media screen and (max-width: 768px) {
        width: 16px;
        height: 9px;
    }
}

.collapsed {
    transform: rotate(180deg);
}

.collapse-content {
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 15px;
}

.collapse-description {
    font-size: 18px;
    font-weight: 400;    
    color: black;
    margin:0;
    padding:0;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}