header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

header nav {
    flex-shrink: 0;
    min-width: 0;
}

header ul {
    display: flex;
    gap: 57px;
    margin:0;
    @media screen and (max-width: 768px) {
        gap: 20px;
    }
     @media screen and (max-width: 480px) {
       padding-left:10px;
    }
}

header li {
    list-style: none;
}

header a:hover p,
header a.active p {
    text-decoration: underline;
}

header p {
    text-align: right;
    @media screen and (max-width: 768px) {
    font-size: 14px;        
    text-transform: uppercase;        }
}

header img {
    flex-shrink: 1;
    max-width: 100%;
    min-width: 50px;
    @media screen and (max-width: 768px) {
        width: 145px;
    }
}