@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --color-primary: #ff6060;
  --color-secondary : #F6F6F673;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Montserrat';
  background-color: #ffffff;
  color: #000000;
}

p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}